<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJs50X4mf46vkqOL4crsJcsH3bxyStegM</string>
	<key>GCM_SENDER_ID</key>
	<string>24912160756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Oladisea.uiChatbot</string>
	<key>PROJECT_ID</key>
	<string>handy-bot-58fc8</string>
	<key>STORAGE_BUCKET</key>
	<string>handy-bot-58fc8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24912160756:ios:15283f5c4376d176697ba1</string>
</dict>
</plist>